@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Lora:wght@400;700&family=Noto+Sans:wght@400;500&display=swap');

.color-grey {
  color: #434343
}

.font-noto-400 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.font-noto-500 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}


.swal2-container {
  z-index: 10000;
  .swal2-popup {
    max-width: 340px;
    min-height: 300px;
    padding-bottom: 8px;
  }
  .swal2-icon {
    font-size: 14px;
  }
  .swal2-title {
    display: block;
    margin: 0px;
    height: fit-content;
    padding: 0px;
  }
  .swal2-html-container {
    font-size: 14px;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .swal2-actions {
    margin: 0;
  }
}
